/* 
 * Mixins
 */


// Font Size generates rems + px font-size attributes
@mixin font-size( $sizeValue: 14 ){
	font-size: $sizeValue + px;
	font-size: ( $sizeValue / 10 ) + rem;
	}
	

// image replacement

@mixin ir{
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
	}

	
// layout mixins



@mixin clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
	}

@mixin clrfx {
	zoom:1;
	&:after {
		clear:both;
		content:' ';
		display:block;
		font-size:0;
		line-height:0;
		visibility:hidden;
		width:0;
		height:0;
		}
	}	

@mixin contain {
	width: 960px;
	margin: 0 auto;
	}

@mixin full {
	width: 100%;
	}
