/*
 * Typography
 *
 */

// Elements
body {
	@include font-size(14);
	line-height:2;
	font-family: 'Josefin Slab', serif;

	}

.banner, .contentinfo{
	font-family: 'Droid Sans', sans-serif;
}

h1, h2,h3,h4,h5,h6 {
	
	
	
	line-height:1;
	margin: 0 0 .4em;
	padding: 8px 0 0;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
	}
h1 {

	font-weight:500;

	}
h2 {
	
	
	letter-spacing:-3px;
	font-weight:700;
	}

h3 {
	
	font-weight:900;
	
	}



h4 {
	
	font-weight:900;
	
	}
h5 {
	
	font-weight:900;
	
	}
	

h6 {
	
	
	
	letter-spacing:1;
	font-weight:700;
	}
p {
	
	letter-spacing:1;
	font-weight:400;
	
	}

q {
	
	
	font-weight:400;
	
	
	line-height:1.1;
	&:before{
		content:"";
		}
	&:after{
		content:"";
		}

	}

cite{
	@include font-size(18);
	letter-spacing:0;
}



a{
	text-decoration:none;
}