.home .hentry{
	width:250px;
	float:left;
}

.inquiry-purchase{//as seen on .post
	background-color:$red;
	color:white;
	padding:13px 10px 10px 10px;
	@include font-size(18);
	text-transform:uppercase;
	font-style: italic;
	margin: 20px 0;
	display:block;
}