.page-template-default{
	.hfeed{
		
	}

	.main{
		margin:-105px auto 0 auto;
		width:870px;
		padding-left:290px;
		@include clrfx;
		z-index:-200;
	}


	.first-row{
		@include clrfx;
		margin-left:290px;
		img{
			width:280px;
			margin-right:10px;
		}
	}

	.second-row{
		@include clrfx;
		img{
			width:280px;
			margin-right:10px;
		}
	}
}