.page-template-about-us{
	.main{
		
		@include clrfx;
		z-index:-200;
	}
	.excerpt{
		padding-left:290px;
		z-index:-200;
		position:absolute;
		top:268px;
		max-height:40px;
		overflow:hidden;
	}
	.the_content{
		padding-left:290px;
		min-height:300px;
		margin-bottom:60px;

	}

	.first-row{
		@include clrfx;
		
		img{
			width:280px;
			margin-left:290px;
			margin-right:10px;
		}
	}

	.second-row{
		width:1160px;
		@include clrfx;
		img{
			width:280px;
			margin-right:290px;
		}
	}
}