.home .hentry{
	width:250px;
	float:left;
}

.inquiry-purchase{//as seen on .post
	background-color:$red;
	color:white;
	padding:13px 10px 10px 10px;
	@include font-size(18);
	text-transform:uppercase;
	font-style: italic;
	margin: 20px 0;
	display:block;
}


/***inquiries form ***/
.inquiry-bundle{
	@include clrfx;
	margin-left: 290px;

	.owner-contact{
		width:290px;
		float:left;
	}

	fieldset{
		width:200px;
		float:left;
		border:none;
	}

	label{
		display:none;
	}
	$input-padding: 8px 5px;

	input{
		padding: $input-padding;
		
		margin: 0 0 5px 0;
		background-color: $grey;
		border:1px solid darken($grey, 80%);
		outline:none;
		&:focus{
			@include box-shadow(0 0 5px 0 $red);
		}
	}
	.permalink{
		display:none;
	}
	textarea{
		width:200px;
		height:170px;
		resize:none;
		margin-bottom:10px;
		padding: $input-padding;
		background-color: $grey;
		border:1px solid darken($grey, 80%);
		outline:none;
		&:focus{
			@include box-shadow(0 0 5px 0 $red);
		}

	}
	button, input[type='submit']{
		height:40px;
		//background: $red;
		@include linear-gradient(top, lighten($red, 15%), $red, $fallback: $red);

		color: white;
		outline:none;
		border:none;
		text-transform: uppercase;
		padding: 15px 10px;
		&:hover{
			background:$red;
		}
	}
}