.home .hentry{
	width:250px;
	float:left;
}

.inquiry-purchase{//as seen on .post
	background-color:$red;
	color:white;
	padding:13px 10px 10px 10px;
	@include font-size(18);
	text-transform:uppercase;
	font-style: italic;
	margin: 20px 0;
	display:block;
	border: none;
	&.button-grey{
		background-color: #666;
	}
}


/***inquiries form ***/
.inquiry-bundle{
	@include clrfx;
	margin-left: 290px;

	.owner-contact{
		width:290px;
		float:left;
	}

	fieldset{
		width:200px;
		float:left;
		border:none;
	}

	label{
		display:none;
	}
	$input-padding: 8px 5px;

	input{
		padding: $input-padding;
		
		margin: 0 0 5px 0;
		background-color: $grey;
		border:1px solid darken($grey, 80%);
		outline:none;
		&:focus{
			@include box-shadow(0 0 5px 0 $red);
		}
	}
	.permalink{
		display:none;
	}
	textarea{
		width:200px;
		height:170px;
		resize:none;
		margin-bottom:10px;
		padding: $input-padding;
		background-color: $grey;
		border:1px solid darken($grey, 80%);
		outline:none;
		&:focus{
			@include box-shadow(0 0 5px 0 $red);
		}

	}
	button, input[type='submit']{
		height:40px;
		background: $red;
		//@include linear-gradient(top, lighten($red, 15%), $red, $fallback: $red);
	
		color: white;
		outline:none;
		border:none;
		text-transform: uppercase;
		padding: 15px 10px;
		&:hover{
			background:$red;
		}
	}
}


//some bootstrap modal


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .hidden{
  	display: none;
  }
  fieldset{

		border:none;
	}
	.close{
		float: right;
		@include font-size(24);
		line-height: 1;
		cursor: pointer;
		&:hover{
			color: #666;
		}
	}
	label{
		width: 120px;
		float: left;
		display: block;
	}
	.ss-q-short{
		width: 220px;
	}
	&>div{
		@include clrfx;
	}
	.message textarea{
		width: 220px;
		resize: none;
	}
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px 30px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}